In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\asus\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\asus\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\asus\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\asus\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\asus\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\asus\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
print("Hello world")

Hello world

In [4]:
df= pd.read_csv('C:/Users/ASUS/Downloads/Player.csv')
df

,Player_Id,Player_Name,DOB,Batting_Hand,Bowling_Skill,Country,Is_Umpire,Unnamed: 7
0,1,SC Ganguly,08-Jul-72,Left_Hand,Right-arm medium,India,0,NaN
1,2,BB McCullum,27-Sep-81,Right_Hand,Right-arm medium,New Zealand,0,NaN
2,3,RT Ponting,19-Dec-74,Right_Hand,Right-arm medium,Australia,0,NaN
3,4,DJ Hussey,15-Jul-77,Right_Hand,Right-arm offbreak,Australia,0,NaN
4,5,Mohammad Hafeez,17-Oct-80,Right_Hand,Right-arm offbreak,Pakistan,0,NaN
...,...,...,...,...,...,...,...,...
518,519,Subroto Das,NaN,NaN,NaN,India,1,NaN
519,520,K Srinivasan,NaN,NaN,NaN,India,1,NaN
520,521,VK Sharma,NaN,NaN,NaN,India,1,NaN
521,523,AV Wankhade,14-Mar-92,Right_Hand,NaN,India,0,NaN
522,524,B Aparajith,08-Jul-94,Right_Hand,Right-arm offbreak,India,0,NaN

In [5]:
df.head()

,Player_Id,Player_Name,DOB,Batting_Hand,Bowling_Skill,Country,Is_Umpire,Unnamed: 7
0,1,SC Ganguly,08-Jul-72,Left_Hand,Right-arm medium,India,0,NaN
1,2,BB McCullum,27-Sep-81,Right_Hand,Right-arm medium,New Zealand,0,NaN
2,3,RT Ponting,19-Dec-74,Right_Hand,Right-arm medium,Australia,0,NaN
3,4,DJ Hussey,15-Jul-77,Right_Hand,Right-arm offbreak,Australia,0,NaN
4,5,Mohammad Hafeez,17-Oct-80,Right_Hand,Right-arm offbreak,Pakistan,0,NaN

In [6]:
df.head(20)

,Player_Id,Player_Name,DOB,Batting_Hand,Bowling_Skill,Country,Is_Umpire,Unnamed: 7
0,1,SC Ganguly,08-Jul-72,Left_Hand,Right-arm medium,India,0,NaN
1,2,BB McCullum,27-Sep-81,Right_Hand,Right-arm medium,New Zealand,0,NaN
2,3,RT Ponting,19-Dec-74,Right_Hand,Right-arm medium,Australia,0,NaN
3,4,DJ Hussey,15-Jul-77,Right_Hand,Right-arm offbreak,Australia,0,NaN
4,5,Mohammad Hafeez,17-Oct-80,Right_Hand,Right-arm offbreak,Pakistan,0,NaN
5,6,R Dravid,11-Jan-73,Right_Hand,Right-arm offbreak,India,0,NaN
6,7,W Jaffer,16-Feb-78,Right_Hand,Right-arm offbreak,India,0,NaN
7,8,V Kohli,05-Nov-88,Right_Hand,Right-arm medium,India,0,NaN
8,9,JH Kallis,16-Oct-75,Right_Hand,Right-arm fast-medium,South Africa,0,NaN
9,10,CL White,18-Aug-83,Right_Hand,Legbreak googly,Australia,0,NaN
10,11,MV Boucher,03-Dec-76,Right_Hand,Right-arm medium,South Africa,0,NaN
11,12,B Akhil,07-Oct-77,Right_Hand,Right-arm medium-fast,India,0,NaN
12,13,AA Noffke,30-Apr-77,Right_Hand,Right-arm fast-medium,Australia,0,NaN
13,14,P Kumar,02-Oct-86,Right_Hand,Right-arm medium,India,0,NaN
14,15,Z Khan,07-Oct-78,Right_Hand,Left-arm fast-medium,India,0,NaN
15,16,SB Joshi,06-Jun-70,Left_Hand,Slow left-arm orthodox,India,0,NaN
16,17,PA Patel,09-Mar-85,Left_Hand,NaN,India,0,NaN
17,18,ML Hayden,29-Oct-71,Left_Hand,Right-arm medium,Australia,0,NaN
18,19,MEK Hussey,27-May-75,Left_Hand,Right-arm medium,Australia,0,NaN
19,20,MS Dhoni,07-Jul-81,Right_Hand,Right-arm medium,India,0,NaN

In [7]:
df.tail()

,Player_Id,Player_Name,DOB,Batting_Hand,Bowling_Skill,Country,Is_Umpire,Unnamed: 7
518,519,Subroto Das,NaN,NaN,NaN,India,1,NaN
519,520,K Srinivasan,NaN,NaN,NaN,India,1,NaN
520,521,VK Sharma,NaN,NaN,NaN,India,1,NaN
521,523,AV Wankhade,14-Mar-92,Right_Hand,NaN,India,0,NaN
522,524,B Aparajith,08-Jul-94,Right_Hand,Right-arm offbreak,India,0,NaN

In [8]:
type(df)

pandas.core.frame.DataFrame

In [35]:
df1=df.head()

In [36]:
df1

,Player_Id,Player_Name,DOB,Batting_Hand,Bowling_Skill,Country,Is_Umpire,Unnamed: 7
0,1,SC Ganguly,08-Jul-72,Left_Hand,Right-arm medium,India,0,NaN
1,2,BB McCullum,27-Sep-81,Right_Hand,Right-arm medium,New Zealand,0,NaN
2,3,RT Ponting,19-Dec-74,Right_Hand,Right-arm medium,Australia,0,NaN
3,4,DJ Hussey,15-Jul-77,Right_Hand,Right-arm offbreak,Australia,0,NaN
4,5,Mohammad Hafeez,17-Oct-80,Right_Hand,Right-arm offbreak,Pakistan,0,NaN

In [37]:
df1.to_csv("kumar.csv")

In [41]:
ls

 Volume in drive D is Coding
 Volume Serial Number is 1008-AFF7

 Directory of D:\jupyter\iNeuron Python For DS Prgms

08-Jul-24  07:25 PM    <DIR>          .
08-Jul-24  07:25 PM    <DIR>          ..
08-Jul-24  12:02 PM    <DIR>          .ipynb_checkpoints
08-Jul-24  12:04 PM             1,036 iNeuron numpy prgms.ipynb
08-Jul-24  06:40 PM            33,251 iNeuron pandas prgms.ipynb
08-Jul-24  07:25 PM               424 kumar.csv
               3 File(s)         34,711 bytes
               3 Dir(s)  129,788,829,696 bytes free

In [43]:
pd.read_csv("kumar.csv")# by default it reads comma separator values

,Unnamed: 0,Player_Id,Player_Name,DOB,Batting_Hand,Bowling_Skill,Country,Is_Umpire,Unnamed: 7
0,0,1,SC Ganguly,08-Jul-72,Left_Hand,Right-arm medium,India,0,NaN
1,1,2,BB McCullum,27-Sep-81,Right_Hand,Right-arm medium,New Zealand,0,NaN
2,2,3,RT Ponting,19-Dec-74,Right_Hand,Right-arm medium,Australia,0,NaN
3,3,4,DJ Hussey,15-Jul-77,Right_Hand,Right-arm offbreak,Australia,0,NaN
4,4,5,Mohammad Hafeez,17-Oct-80,Right_Hand,Right-arm offbreak,Pakistan,0,NaN

In [45]:
pd.read_csv("kumar#.csv") # as the default separator is ',' , so it cant read #(hash) separated values

  #Player_Id#Player_Name#DOB#Batting_Hand#Bowling_Skill#Country#Is_Umpire#Unnamed: 7
0  0#1#SC Ganguly#08-Jul-72#Left_Hand#Right-arm m...
1  1#2#BB McCullum#27-Sep-81#Right_Hand#Right-arm...
2  2#3#RT Ponting#19-Dec-74#Right_Hand#Right-arm ...
3  3#4#DJ Hussey#15-Jul-77#Right_Hand#Right-arm o...
4  4#5#Mohammad Hafeez#17-Oct-80#Right_Hand#Right...

In [47]:
df2=pd.read_csv("kumar#.csv",sep='#') #so we overwrite the separator to hash

In [48]:
df2

,Unnamed: 0,Player_Id,Player_Name,DOB,Batting_Hand,Bowling_Skill,Country,Is_Umpire,Unnamed: 7
0,0,1,SC Ganguly,08-Jul-72,Left_Hand,Right-arm medium,India,0,NaN
1,1,2,BB McCullum,27-Sep-81,Right_Hand,Right-arm medium,New Zealand,0,NaN
2,2,3,RT Ponting,19-Dec-74,Right_Hand,Right-arm medium,Australia,0,NaN
3,3,4,DJ Hussey,15-Jul-77,Right_Hand,Right-arm offbreak,Australia,0,NaN
4,4,5,Mohammad Hafeez,17-Oct-80,Right_Hand,Right-arm offbreak,Pakistan,0,NaN

In [50]:
df3=pd.read_csv("kumar#.csv",sep='#',header=None) #by default, it takes 1st line as header, now 1 have overwritten it with none and the header is being removed
df3

,0,1,2,3,4,5,6,7,8
0,NaN,Player_Id,Player_Name,DOB,Batting_Hand,Bowling_Skill,Country,Is_Umpire,Unnamed: 7
1,0.0,1,SC Ganguly,08-Jul-72,Left_Hand,Right-arm medium,India,0,NaN
2,1.0,2,BB McCullum,27-Sep-81,Right_Hand,Right-arm medium,New Zealand,0,NaN
3,2.0,3,RT Ponting,19-Dec-74,Right_Hand,Right-arm medium,Australia,0,NaN
4,3.0,4,DJ Hussey,15-Jul-77,Right_Hand,Right-arm offbreak,Australia,0,NaN
5,4.0,5,Mohammad Hafeez,17-Oct-80,Right_Hand,Right-arm offbreak,Pakistan,0,NaN

In [53]:
df4=pd.read_csv('kumar#.csv',sep='#', header=None, names=['a','b','c','d','e','f','g','h']) # I have changed the header names from numbers to chars
df4

,a,b,c,d,e,f,g,h
NaN,Player_Id,Player_Name,DOB,Batting_Hand,Bowling_Skill,Country,Is_Umpire,Unnamed: 7
0.0,1,SC Ganguly,08-Jul-72,Left_Hand,Right-arm medium,India,0,NaN
1.0,2,BB McCullum,27-Sep-81,Right_Hand,Right-arm medium,New Zealand,0,NaN
2.0,3,RT Ponting,19-Dec-74,Right_Hand,Right-arm medium,Australia,0,NaN
3.0,4,DJ Hussey,15-Jul-77,Right_Hand,Right-arm offbreak,Australia,0,NaN
4.0,5,Mohammad Hafeez,17-Oct-80,Right_Hand,Right-arm offbreak,Pakistan,0,NaN

In [52]:
df5=pd.read_csv('kumar#.csv',sep='#', header=None, names=['a','b','c','d','e','f','g','h'], skiprows=[0,1,2])
df5

,a,b,c,d,e,f,g,h
2,3,RT Ponting,19-Dec-74,Right_Hand,Right-arm medium,Australia,0,NaN
3,4,DJ Hussey,15-Jul-77,Right_Hand,Right-arm offbreak,Australia,0,NaN
4,5,Mohammad Hafeez,17-Oct-80,Right_Hand,Right-arm offbreak,Pakistan,0,NaN

In [54]:
df

,Player_Id,Player_Name,DOB,Batting_Hand,Bowling_Skill,Country,Is_Umpire,Unnamed: 7
0,1,SC Ganguly,08-Jul-72,Left_Hand,Right-arm medium,India,0,NaN
1,2,BB McCullum,27-Sep-81,Right_Hand,Right-arm medium,New Zealand,0,NaN
2,3,RT Ponting,19-Dec-74,Right_Hand,Right-arm medium,Australia,0,NaN
3,4,DJ Hussey,15-Jul-77,Right_Hand,Right-arm offbreak,Australia,0,NaN
4,5,Mohammad Hafeez,17-Oct-80,Right_Hand,Right-arm offbreak,Pakistan,0,NaN
...,...,...,...,...,...,...,...,...
518,519,Subroto Das,NaN,NaN,NaN,India,1,NaN
519,520,K Srinivasan,NaN,NaN,NaN,India,1,NaN
520,521,VK Sharma,NaN,NaN,NaN,India,1,NaN
521,523,AV Wankhade,14-Mar-92,Right_Hand,NaN,India,0,NaN
522,524,B Aparajith,08-Jul-94,Right_Hand,Right-arm offbreak,India,0,NaN

In [59]:
df6= pd.read_csv('C:/Users/ASUS/Downloads/Player.csv',na_values="SC Ganguly")# na_values means NAN values, this will replace Sc Ganguly as NAN
df6

,Player_Id,Player_Name,DOB,Batting_Hand,Bowling_Skill,Country,Is_Umpire,Unnamed: 7
0,1,NaN,08-Jul-72,Left_Hand,Right-arm medium,India,0,NaN
1,2,BB McCullum,27-Sep-81,Right_Hand,Right-arm medium,New Zealand,0,NaN
2,3,RT Ponting,19-Dec-74,Right_Hand,Right-arm medium,Australia,0,NaN
3,4,DJ Hussey,15-Jul-77,Right_Hand,Right-arm offbreak,Australia,0,NaN
4,5,Mohammad Hafeez,17-Oct-80,Right_Hand,Right-arm offbreak,Pakistan,0,NaN
...,...,...,...,...,...,...,...,...
518,519,Subroto Das,NaN,NaN,NaN,India,1,NaN
519,520,K Srinivasan,NaN,NaN,NaN,India,1,NaN
520,521,VK Sharma,NaN,NaN,NaN,India,1,NaN
521,523,AV Wankhade,14-Mar-92,Right_Hand,NaN,India,0,NaN
522,524,B Aparajith,08-Jul-94,Right_Hand,Right-arm offbreak,India,0,NaN

In [68]:
df

,Player_Id,Player_Name,DOB,Batting_Hand,Bowling_Skill,Country,Is_Umpire,Unnamed: 7
0,1,SC Ganguly,08-Jul-72,Left_Hand,Right-arm medium,India,0,NaN
1,2,BB McCullum,27-Sep-81,Right_Hand,Right-arm medium,New Zealand,0,NaN
2,3,RT Ponting,19-Dec-74,Right_Hand,Right-arm medium,Australia,0,NaN
3,4,DJ Hussey,15-Jul-77,Right_Hand,Right-arm offbreak,Australia,0,NaN
4,5,Mohammad Hafeez,17-Oct-80,Right_Hand,Right-arm offbreak,Pakistan,0,NaN
...,...,...,...,...,...,...,...,...
518,519,Subroto Das,NaN,NaN,NaN,India,1,NaN
519,520,K Srinivasan,NaN,NaN,NaN,India,1,NaN
520,521,VK Sharma,NaN,NaN,NaN,India,1,NaN
521,523,AV Wankhade,14-Mar-92,Right_Hand,NaN,India,0,NaN
522,524,B Aparajith,08-Jul-94,Right_Hand,Right-arm offbreak,India,0,NaN

In [64]:
df.describe() # by default , describe() function alws gives description about only numerical data

        Player_Id   Is_Umpire  Unnamed: 7
count  523.000000  523.000000   12.000000
mean   262.003824    0.099426    6.500000
std    151.127981    0.299520    3.605551
min      1.000000    0.000000    1.000000
25%    131.500000    0.000000    3.750000
50%    262.000000    0.000000    6.500000
75%    392.500000    0.000000    9.250000
max    524.000000    1.000000   12.000000

In [65]:
df.dtypes

Player_Id          int64
Player_Name       object
DOB               object
Batting_Hand      object
Bowling_Skill     object
Country           object
Is_Umpire          int64
Unnamed: 7       float64
dtype: object

In [70]:
df

,Player_Id,Player_Name,DOB,Batting_Hand,Bowling_Skill,Country,Is_Umpire,Unnamed: 7
0,1,SC Ganguly,08-Jul-72,Left_Hand,Right-arm medium,India,0,NaN
1,2,BB McCullum,27-Sep-81,Right_Hand,Right-arm medium,New Zealand,0,NaN
2,3,RT Ponting,19-Dec-74,Right_Hand,Right-arm medium,Australia,0,NaN
3,4,DJ Hussey,15-Jul-77,Right_Hand,Right-arm offbreak,Australia,0,NaN
4,5,Mohammad Hafeez,17-Oct-80,Right_Hand,Right-arm offbreak,Pakistan,0,NaN
...,...,...,...,...,...,...,...,...
518,519,Subroto Das,NaN,NaN,NaN,India,1,NaN
519,520,K Srinivasan,NaN,NaN,NaN,India,1,NaN
520,521,VK Sharma,NaN,NaN,NaN,India,1,NaN
521,523,AV Wankhade,14-Mar-92,Right_Hand,NaN,India,0,NaN
522,524,B Aparajith,08-Jul-94,Right_Hand,Right-arm offbreak,India,0,NaN

In [71]:
df7=df

In [72]:
df7

,Player_Id,Player_Name,DOB,Batting_Hand,Bowling_Skill,Country,Is_Umpire,Unnamed: 7
0,1,SC Ganguly,08-Jul-72,Left_Hand,Right-arm medium,India,0,NaN
1,2,BB McCullum,27-Sep-81,Right_Hand,Right-arm medium,New Zealand,0,NaN
2,3,RT Ponting,19-Dec-74,Right_Hand,Right-arm medium,Australia,0,NaN
3,4,DJ Hussey,15-Jul-77,Right_Hand,Right-arm offbreak,Australia,0,NaN
4,5,Mohammad Hafeez,17-Oct-80,Right_Hand,Right-arm offbreak,Pakistan,0,NaN
...,...,...,...,...,...,...,...,...
518,519,Subroto Das,NaN,NaN,NaN,India,1,NaN
519,520,K Srinivasan,NaN,NaN,NaN,India,1,NaN
520,521,VK Sharma,NaN,NaN,NaN,India,1,NaN
521,523,AV Wankhade,14-Mar-92,Right_Hand,NaN,India,0,NaN
522,524,B Aparajith,08-Jul-94,Right_Hand,Right-arm offbreak,India,0,NaN

In [76]:
df7.to_csv('resultWithoutIndex.csv',index=False) #it will remove and not store the 1st column which is the unnecessary in our data

In [77]:
df7.to_csv('resultWithoutHeader.csv',index=False,header=False)

In [79]:
df7.to_csv('resultWithSpecificColm.csv',columns=['Player_Name', 'Country']) # stores only specific column

In [80]:
df.tail()

,Player_Id,Player_Name,DOB,Batting_Hand,Bowling_Skill,Country,Is_Umpire,Unnamed: 7
518,519,Subroto Das,NaN,NaN,NaN,India,1,NaN
519,520,K Srinivasan,NaN,NaN,NaN,India,1,NaN
520,521,VK Sharma,NaN,NaN,NaN,India,1,NaN
521,523,AV Wankhade,14-Mar-92,Right_Hand,NaN,India,0,NaN
522,524,B Aparajith,08-Jul-94,Right_Hand,Right-arm offbreak,India,0,NaN

In [83]:
df.columns

Index(['Player_Id', 'Player_Name', 'DOB', 'Batting_Hand', 'Bowling_Skill',
       'Country', 'Is_Umpire', 'Unnamed: 7'],
      dtype='object')

In [84]:
df['Country']

0            India
1      New Zealand
2        Australia
3        Australia
4         Pakistan
          ...
518          India
519          India
520          India
521          India
522          India
Name: Country, Length: 523, dtype: object

In [85]:
type(df['Country']) #there are two datatypes in pandas, dataframa and series. series is the one record , it may be a colum or row.Series is the subset of df.

pandas.core.series.Series

In [86]:
df[['Country']]

         Country
0          India
1    New Zealand
2      Australia
3      Australia
4       Pakistan
..           ...
518        India
519        India
520        India
521        India
522        India

[523 rows x 1 columns]

In [87]:
type(df[['Country']]) # if we retrieve the data in the form of list, then it will be considered as df

pandas.core.frame.DataFrame

In [90]:
df[['Country','Player_Name']] #if we want to retrieve more than 1 column, then compulsory I have to store in the form of list

         Country      Player_Name
0          India       SC Ganguly
1    New Zealand      BB McCullum
2      Australia       RT Ponting
3      Australia        DJ Hussey
4       Pakistan  Mohammad Hafeez
..           ...              ...
518        India      Subroto Das
519        India     K Srinivasan
520        India        VK Sharma
521        India      AV Wankhade
522        India      B Aparajith

[523 rows x 2 columns]

In [94]:
pip install openpyxl

Collecting openpyxlNote: you may need to restart the kernel to use updated packages.

  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
   ---------------------------------------- 0.0/250.9 kB ? eta -:--:--
   --------- ------------------------------ 61.4/250.9 kB 1.7 MB/s eta 0:00:01
   --------------------------- ------------ 174.1/250.9 kB 2.1 MB/s eta 0:00:01
   ---------------------------------------  245.8/250.9 kB 2.1 MB/s eta 0:00:01
   ---------------------------------------  245.8/250.9 kB 2.1 MB/s eta 0:00:01
   ---------------------------------------- 250.9/250.9 kB 1.2 MB/s eta 0:00:00
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5

In [97]:
df8=pd.read_excel('D:/Kumar Docs/Coding Docs/Sample Datasets/sample-excel-master/LUSID Excel - Business Agility - Making Simple Changes Quickly & Easily.xlsx')
df8 #it reads only the 1st page in the sheet,ie, Create Profile(see excel file)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,1) Create your Live Production Environment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,In LUSID you can segregate environments by mak...,NaN,NaN,NaN,NaN,NaN,LUSID API Knowledge Base: Scopes.,NaN,NaN
14,NaN,NaN,NaN,NaN,Each scope has a unique code which is used to ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,To manage your client's assets you will also n...,NaN,NaN,NaN,NaN,NaN,LUSID API Knowledge Base: Portfolios,NaN,NaN
16,NaN,NaN,NaN,NaN,A portfolio lives within a given scope. Each p...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,"When you add a portfolio, you can specify whic...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,Scope:,Production-client,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,OK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,DisplayName,Description,Code,Created,BaseCurrency,CorporateActionSourceId,AccountingMethod,SubHoldingKeys,Result
26,NaN,NaN,NaN,1.0,Pension-fund,Pension fund for new client,Pension-fund,2019-09-08 11:49:22.720000,GBP,NaN,AverageCost,NaN,Error creating portfolio with id Pension-fund ...
27,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [98]:
df9=pd.read_excel('D:/Kumar Docs/Coding Docs/Sample Datasets/sample-excel-master/LUSID Excel - Business Agility - Making Simple Changes Quickly & Easily.xlsx',sheet_name='Add your take on balances')
df9

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,3) Add your Take on Balances,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,Now that you have populated your instrument un...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,The official transfer took place 2 days ago. Y...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,For further usage of the set holdings API call...,NaN,NaN,NaN,NaN,NaN,LUSID API Docs: Set Holdings,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,Specify details of your holdings and add these...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,Scope:,Production-client,"To view a list of existing scopes, please s...",NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,Portfolio code:,Pension-fund,"To view a list of existing Portfolios, plea...",NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,Effective date:,2019-09-08 11:49:22.720000,The effective date refers to the date the h...,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,Mandatory fields,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,Instrument Id Types,Instrument Ids,Units,Cost,Currency,Portfolio Cost,Price,Purchase date,Settlement date
31,NaN,NaN,NaN,1.0,Figi,BBG000BF6B57,1050200,9147242,GBP,9147242,8.71,NaN,NaN
32,NaN,NaN,NaN,2.0,Figi,BBG006N6HZM7,100674,13085203.824,GBP,13085203.824,129.976,NaN,NaN
33,NaN,NaN,NaN,3.0,Figi,BBG0088JSC32,220456,23461147.976,GBP,23461147.976,106.421,NaN,NaN
34,NaN,NaN,NaN,4.0,Figi,BBG0000D14P3,97658,13522312.628,GBP,13522312.628,138.466,NaN,NaN
35,NaN,NaN,NaN,5.0,Figi,BBG001KKJLR4,320568,34677443.4,GBP,34677443.4,108.175,NaN,NaN
36,NaN,NaN,NaN,6.0,Figi,BBG000BKH1W6,2879200,6892804.8,GBP,6892804.8,2.394,NaN,NaN
37,NaN,NaN,NaN,7.0,Figi,BBG0065YWM39,4789100,28629239.8,GBP,28629239.8,5.978,NaN,NaN
38,NaN,NaN,NaN,8.0,Figi,BBG000D03XD4,6134800,101684310,GBP,101684310,16.575,NaN,NaN
39,NaN,NaN,NaN,9.0,Figi,BBG000BF46Y8,13456500,26058512.25,GBP,26058512.25,1.9365,NaN,NaN
40,NaN,NaN,NaN,10.0,Figi,BBG000BRVH05,8954300,40912196.7,GBP,40912196.7,4.569,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,Holdings set for portfolio code Pension-fund,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [100]:
df10=pd.read_excel('D:/Kumar Docs/Coding Docs/Sample Datasets/sample-excel-master/LUSID Excel - Business Agility - Making Simple Changes Quickly & Easily.xlsx',sheet_name='Create your test environment')
df10

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,NaN,NaN,NaN,6.0,LUID_NUU6VTW2,P,2879200,2879200,6892804.8,GBP,6892804.8,ZZZ,NaN
76,NaN,NaN,NaN,7.0,LUID_JCFXCP3K,P,4789100,4789100,28629239.8,GBP,28629239.8,ZZZ,NaN
77,NaN,NaN,NaN,8.0,LUID_EGBUB0MA,P,6134800,6134800,101684310,GBP,101684310,ZZZ,NaN
78,NaN,NaN,NaN,9.0,LUID_JYQ3JNAD,P,13456500,13456500,26058512.25,GBP,26058512.25,ZZZ,NaN
79,NaN,NaN,NaN,10.0,LUID_0E6TTHI3,P,8954300,8954300,40912196.7,GBP,40912196.7,ZZZ,NaN

In [102]:
pip install lxml

Collecting lxmlNote: you may need to restart the kernel to use updated packages.

  Using cached lxml-5.2.2-cp312-cp312-win_amd64.whl.metadata (3.5 kB)
Using cached lxml-5.2.2-cp312-cp312-win_amd64.whl (3.8 MB)
Installing collected packages: lxml
Successfully installed lxml-5.2.2

In [104]:
df11=pd.read_html('https://www.basketball-reference.com/players/i/ibakase01.html')
df11

[       Season   Age   Tm                                       Lg  \
 0     2008-09  19.0  NaN    Did Not PlayÂ (other pro leagueâ€”Spain)
 1     2009-10  20.0  OKC                                      NBA
 2     2010-11  21.0  OKC                                      NBA
 3     2011-12  22.0  OKC                                      NBA
 4     2012-13  23.0  OKC                                      NBA
 5     2013-14  24.0  OKC                                      NBA
 6     2014-15  25.0  OKC                                      NBA
 7     2015-16  26.0  OKC                                      NBA
 8     2016-17  27.0  TOT                                      NBA
 9     2016-17  27.0  ORL                                      NBA
 10    2016-17  27.0  TOR                                      NBA
 11    2017-18  28.0  TOR                                      NBA
 12    2018-19  29.0  TOR                                      NBA
 13    2019-20  30.0  TOR                                      NBA
 14    2020-21  31.0  LAC                                      NBA
 15    2021-22  32.0  TOT                                      NBA
 16    2021-22  32.0  LAC                                      NBA
 17    2021-22  32.0  MIL                                      NBA
 18    2022-23  33.0  MIL                                      NBA
 19    2023-24  34.0  NaN  Did Not PlayÂ (other pro leagueâ€”Germany)
 20     Career   NaN  NaN                                      NBA
 21        NaN   NaN  NaN                                      NaN
 22  7 seasons   NaN  OKC                                      NBA
 23  4 seasons   NaN  TOR                                      NBA
 24  2 seasons   NaN  LAC                                      NBA
 25   1 season   NaN  ORL                                      NBA
 26  2 seasons   NaN  MIL                                      NBA

                                         Pos  \
 0     Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                        PF
 2                                        PF
 3                                        PF
 4                                        PF
 5                                        PF
 6                                        PF
 7                                        PF
 8                                        PF
 9                                        PF
 10                                       PF
 11                                       PF
 12                                        C
 13                                        C
 14                                        C
 15                                        C
 16                                        C
 17                                        C
 18                                        C
 19  Did Not PlayÂ (other pro leagueâ€”Germany)
 20                                      NaN
 21                                      NaN
 22                                      NaN
 23                                      NaN
 24                                      NaN
 25                                      NaN
 26                                      NaN

                                           G  \
 0     Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                        73
 2                                        82
 3                                        66
 4                                        80
 5                                        81
 6                                        64
 7                                        78
 8                                        79
 9                                        56
 10                                       23
 11                                       76
 12                                       74
 13                                       55
 14                                       41
 15                                       54
 16                                       35
 17                                       19
 18                                       16
 19  Did Not PlayÂ (other pro leagueâ€”Germany)
 20                                      919
 21                                      NaN
 22                                      524
 23                                      228
 24                                       76
 25                                       56
 26                                       35

                                          GS  \
 0     Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                         0
 2                                        44
 3                                        66
 4                                        80
 5                                        81
 6                                        64
 7                                        78
 8                                        79
 9                                        56
 10                                       23
 11                                       76
 12                                       51
 13                                       27
 14                                       39
 15                                       12
 16                                       10
 17                                        2
 18                                        0
 19  Did Not PlayÂ (other pro leagueâ€”Germany)
 20                                      697
 21                                      NaN
 22                                      413
 23                                      177
 24                                       49
 25                                       56
 26                                        2

                                          MP  \
 0     Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                      18.1
 2                                      27.0
 3                                      27.2
 4                                      31.1
 5                                      32.9
 6                                      33.1
 7                                      32.1
 8                                      30.7
 9                                      30.5
 10                                     31.0
 11                                     27.5
 12                                     27.2
 13                                     27.0
 14                                     23.3
 15                                     16.3
 16                                     15.4
 17                                     17.8
 18                                     11.6
 19  Did Not PlayÂ (other pro leagueâ€”Germany)
 20                                     27.3
 21                                      NaN
 22                                     28.8
 23                                     27.6
 24                                     19.6
 25                                     30.5
 26                                     15.0

                                          FG  \
 0     Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                       2.8
 2                                       4.1
 3                                       4.0
 4                                       5.6
 5                                       6.5
 6                                       5.8
 7                                       5.3
 8                                       6.0
 9                                       6.1
 10                                      5.6
 11                                      5.0
 12                                      6.3
 13                                      6.2
 14                                      4.5
 15                                      2.7
 16                                      2.7
 17                                      2.8
 18                                      1.6
 19  Did Not PlayÂ (other pro leagueâ€”Germany)
 20                                      5.0
 21                                      NaN
 22                                      4.9
 23                                      5.8
 24                                      3.7
 25                                      6.1
 26                                      2.3

                                         FGA  ...  \
 0     Did Not PlayÂ (other pro leagueâ€”Spain)  ...
 1                                       5.1  ...
 2                                       7.5  ...
 3                                       7.4  ...
 4                                       9.7  ...
 5                                      12.1  ...
 6                                      12.3  ...
 7                                      11.1  ...
 8                                      12.4  ...
 9                                      12.6  ...
 10                                     12.1  ...
 11                                     10.3  ...
 12                                     11.9  ...
 13                                     12.2  ...
 14                                      8.9  ...
 15                                      5.5  ...
 16                                      5.5  ...
 17                                      5.5  ...
 18                                      3.4  ...
 19  Did Not PlayÂ (other pro leagueâ€”Germany)  ...
 20                                      9.7  ...
 21                                      NaN  ...
 22                                      9.3  ...
 23                                     11.4  ...
 24                                      7.3  ...
 25                                     12.6  ...
 26                                      4.5  ...

                                         DRB  \
 0     Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                       3.5
 2                                       5.0
 3                                       4.6
 4                                       4.9
 5                                       6.0
 6                                       5.7
 7                                       5.0
 8                                       5.2
 9                                       5.0
 10                                      5.5
 11                                      5.3
 12                                      6.0
 13                                      6.1
 14                                      4.9
 15                                      3.5
 16                                      3.1
 17                                      4.1
 18                                      1.8
 19  Did Not PlayÂ (other pro leagueâ€”Germany)
 20                                      5.0
 21                                      NaN
 22                                      5.0
 23                                      5.7
 24                                      4.1
 25                                      5.0
 26                                      3.1

                                         TRB  \
 0     Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                       5.4
 2                                       7.6
 3                                       7.5
 4                                       7.7
 5                                       8.8
 6                                       7.8
 7                                       6.8
 8                                       6.8
 9                                       6.8
 10                                      6.8
 11                                      6.3
 12                                      8.1
 13                                      8.2
 14                                      6.7
 15                                      4.6
 16                                      4.3
 17                                      5.3
 18                                      2.8
 19  Did Not PlayÂ (other pro leagueâ€”Germany)
 20                                      7.1
 21                                      NaN
 22                                      7.4
 23                                      7.4
 24                                      5.6
 25                                      6.8
 26                                      4.1

                                         AST  \
 0     Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                       0.1
 2                                       0.3
 3                                       0.4
 4                                       0.5
 5                                       1.0
 6                                       0.9
 7                                       0.8
 8                                       0.9
 9                                       1.1
 10                                      0.7
 11                                      0.8
 12                                      1.3
 13                                      1.4
 14                                      1.8
 15                                      0.9
 16                                      1.0
 17                                      0.7
 18                                      0.3
 19  Did Not PlayÂ (other pro leagueâ€”Germany)
 20                                      0.8
 21                                      NaN
 22                                      0.6
 23                                      1.1
 24                                      1.4
 25                                      1.1
 26                                      0.5

                                         STL  \
 0     Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                       0.3
 2                                       0.4
 3                                       0.5
 4                                       0.4
 5                                       0.5
 6                                       0.5
 7                                       0.5
 8                                       0.5
 9                                       0.6
 10                                      0.3
 11                                      0.4
 12                                      0.4
 13                                      0.5
 14                                      0.2
 15                                      0.2
 16                                      0.2
 17                                      0.2
 18                                      0.1
 19  Did Not PlayÂ (other pro leagueâ€”Germany)
 20                                      0.4
 21                                      NaN
 22                                      0.4
 23                                      0.4
 24                                      0.2
 25                                      0.6
 26                                      0.2

                                         BLK  \
 0     Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                       1.3
 2                                       2.4
 3                                       3.7
 4                                       3.0
 5                                       2.7
 6                                       2.4
 7                                       1.9
 8                                       1.6
 9                                       1.6
 10                                      1.4
 11                                      1.3
 12                                      1.4
 13                                      0.8
 14                                      1.1
 15                                      0.6
 16                                      0.7
 17                                      0.4
 18                                      0.4
 19  Did Not PlayÂ (other pro leagueâ€”Germany)
 20                                      1.9
 21                                      NaN
 22                                      2.5
 23                                      1.2
 24                                      1.0
 25                                      1.6
 26                                      0.4

                                         TOV  \
 0     Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                       0.9
 2                                       0.9
 3                                       1.2
 4                                       1.6
 5                                       1.5
 6                                       1.5
 7                                       1.4
 8                                       1.3
 9                                       1.2
 10                                      1.7
 11                                      1.2
 12                                      1.5
 13                                      2.0
 14                                      1.1
 15                                      0.8
 16                                      0.9
 17                                      0.5
 18                                      0.7
 19  Did Not PlayÂ (other pro leagueâ€”Germany)
 20                                      1.3
 21                                      NaN
 22                                      1.3
 23                                      1.5
 24                                      1.0
 25                                      1.2
 26                                      0.6

                                          PF  \
 0     Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                       2.7
 2                                       3.3
 3                                       2.7
 4                                       2.7
 5                                       2.9
 6                                       3.0
 7                                       2.7
 8                                       2.7
 9                                       2.5
 10                                      3.3
 11                                      2.8
 12                                      2.9
 13                                      2.8
 14                                      1.9
 15                                      1.9
 16                                      1.6
 17                                      2.4
 18                                      1.4
 19  Did Not PlayÂ (other pro leagueâ€”Germany)
 20                                      2.7
 21                                      NaN
 22                                      2.8
 23                                      2.8
 24                                      1.7
 25                                      2.5
 26                                      2.0

                                         PTS  \
 0     Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                       6.3
 2                                       9.9
 3                                       9.1
 4                                      13.2
 5                                      15.1
 6                                      14.3
 7                                      12.6
 8                                      14.8
 9                                      15.1
 10                                     14.2
 11                                     12.6
 12                                     15.0
 13                                     15.4
 14                                     11.1
 15                                      6.8
 16                                      6.6
 17                                      7.0
 18                                      4.1
 19  Did Not PlayÂ (other pro leagueâ€”Germany)
 20                                     12.0
 21                                      NaN
 22                                     11.6
 23                                     14.2
 24                                      9.0
 25                                     15.1
 26                                      5.7

                                      Awards  \
 0     Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                       NaN
 2                            DPOY-14,MIP-17

In [105]:
type(df11) #read_html() will read all the tables in the website and store tables in the form of list like table1, table2,....and so on

list

In [107]:
len(df11)# using len(), we can say that the list has stored 7 tables in it|

7

In [108]:
df11[3] # this is the 3rd table in the list

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Unnamed: 30,Trp-Dbl
0,2009-10,20.0,OKC,NBA,PF,73.0,0.0,1323.0,201.0,370.0,...,259.0,397.0,10.0,25.0,97.0,68.0,194.0,461.0,NaN,0.0
1,2010-11,21.0,OKC,NBA,PF,82.0,44.0,2216.0,335.0,617.0,...,408.0,622.0,22.0,31.0,198.0,71.0,267.0,808.0,NaN,0.0
2,2011-12,22.0,OKC,NBA,PF,66.0,66.0,1792.0,262.0,490.0,...,305.0,498.0,28.0,33.0,241.0,79.0,179.0,603.0,NaN,1.0
3,2012-13,23.0,OKC,NBA,PF,80.0,80.0,2486.0,446.0,778.0,...,395.0,617.0,43.0,28.0,242.0,125.0,213.0,1055.0,NaN,0.0
4,2013-14,24.0,OKC,NBA,PF,81.0,81.0,2666.0,524.0,978.0,...,485.0,709.0,85.0,39.0,219.0,123.0,233.0,1227.0,NaN,0.0
5,2014-15,25.0,OKC,NBA,PF,64.0,64.0,2116.0,374.0,786.0,...,364.0,499.0,55.0,30.0,155.0,97.0,194.0,917.0,NaN,0.0
6,2015-16,26.0,OKC,NBA,PF,78.0,78.0,2500.0,416.0,869.0,...,392.0,533.0,66.0,38.0,148.0,108.0,211.0,983.0,NaN,0.0
7,2016-17,27.0,TOT,NBA,PF,79.0,79.0,2422.0,471.0,982.0,...,409.0,538.0,75.0,41.0,124.0,105.0,215.0,1173.0,NaN,0.0
8,2016-17,27.0,ORL,NBA,PF,56.0,56.0,1710.0,343.0,703.0,...,282.0,382.0,60.0,34.0,91.0,66.0,139.0,846.0,NaN,0.0
9,2016-17,27.0,TOR,NBA,PF,23.0,23.0,712.0,128.0,279.0,...,127.0,156.0,15.0,7.0,33.0,39.0,76.0,327.0,NaN,0.0
10,2017-18,28.0,TOR,NBA,PF,76.0,76.0,2093.0,379.0,784.0,...,400.0,478.0,62.0,29.0,99.0,90.0,209.0,959.0,NaN,0.0
11,2018-19,29.0,TOR,NBA,C,74.0,51.0,2010.0,464.0,877.0,...,445.0,601.0,99.0,29.0,103.0,114.0,211.0,1112.0,NaN,0.0
12,2019-20,30.0,TOR,NBA,C,55.0,27.0,1485.0,343.0,670.0,...,338.0,452.0,77.0,28.0,46.0,109.0,153.0,845.0,NaN,0.0
13,2020-21,31.0,LAC,NBA,C,41.0,39.0,955.0,186.0,365.0,...,202.0,275.0,74.0,9.0,47.0,44.0,76.0,454.0,NaN,0.0
14,2021-22,32.0,TOT,NBA,C,54.0,12.0,878.0,148.0,296.0,...,188.0,250.0,49.0,11.0,33.0,43.0,102.0,365.0,NaN,0.0
15,2021-22,32.0,LAC,NBA,C,35.0,10.0,538.0,94.0,192.0,...,110.0,150.0,36.0,7.0,26.0,33.0,56.0,232.0,NaN,0.0
16,2021-22,32.0,MIL,NBA,C,19.0,2.0,339.0,54.0,104.0,...,78.0,100.0,13.0,4.0,7.0,10.0,46.0,133.0,NaN,0.0
17,2022-23,33.0,MIL,NBA,C,16.0,0.0,185.0,26.0,54.0,...,29.0,44.0,4.0,2.0,7.0,11.0,23.0,66.0,NaN,0.0
18,Career,NaN,NaN,NBA,NaN,919.0,697.0,25127.0,4575.0,8916.0,...,4619.0,6513.0,749.0,373.0,1759.0,1187.0,2480.0,11028.0,NaN,1.0
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,7 seasons,NaN,OKC,NBA,NaN,524.0,413.0,15099.0,2558.0,4888.0,...,2608.0,3875.0,309.0,224.0,1300.0,671.0,1491.0,6054.0,NaN,1.0
21,4 seasons,NaN,TOR,NBA,NaN,228.0,177.0,6300.0,1314.0,2610.0,...,1310.0,1687.0,253.0,93.0,281.0,352.0,649.0,3243.0,NaN,0.0
22,2 seasons,NaN,LAC,NBA,NaN,76.0,49.0,1493.0,280.0,557.0,...,312.0,425.0,110.0,16.0,73.0,77.0,132.0,686.0,NaN,0.0
23,1 season,NaN,ORL,NBA,NaN,56.0,56.0,1710.0,343.0,703.0,...,282.0,382.0,60.0,34.0,91.0,66.0,139.0,846.0,NaN,0.0
24,2 seasons,NaN,MIL,NBA,NaN,35.0,2.0,524.0,80.0,158.0,...,107.0,144.0,17.0,6.0,14.0,21.0,69.0,199.0,NaN,0.0

In [109]:
df11[3].to_csv("3rdTableInData.csv") # stored 3rd table from the list into a csv file. this thing cant be done if we write df11.to_csv() bcoz df11 is a list. So 1st I will convert it to a df and then store it .

In [110]:
pd.read_csv("3rdTableInData.csv")

,Unnamed: 0,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Unnamed: 30,Trp-Dbl
0,0,2009-10,20.0,OKC,NBA,PF,73.0,0.0,1323.0,201.0,...,259.0,397.0,10.0,25.0,97.0,68.0,194.0,461.0,NaN,0.0
1,1,2010-11,21.0,OKC,NBA,PF,82.0,44.0,2216.0,335.0,...,408.0,622.0,22.0,31.0,198.0,71.0,267.0,808.0,NaN,0.0
2,2,2011-12,22.0,OKC,NBA,PF,66.0,66.0,1792.0,262.0,...,305.0,498.0,28.0,33.0,241.0,79.0,179.0,603.0,NaN,1.0
3,3,2012-13,23.0,OKC,NBA,PF,80.0,80.0,2486.0,446.0,...,395.0,617.0,43.0,28.0,242.0,125.0,213.0,1055.0,NaN,0.0
4,4,2013-14,24.0,OKC,NBA,PF,81.0,81.0,2666.0,524.0,...,485.0,709.0,85.0,39.0,219.0,123.0,233.0,1227.0,NaN,0.0
5,5,2014-15,25.0,OKC,NBA,PF,64.0,64.0,2116.0,374.0,...,364.0,499.0,55.0,30.0,155.0,97.0,194.0,917.0,NaN,0.0
6,6,2015-16,26.0,OKC,NBA,PF,78.0,78.0,2500.0,416.0,...,392.0,533.0,66.0,38.0,148.0,108.0,211.0,983.0,NaN,0.0
7,7,2016-17,27.0,TOT,NBA,PF,79.0,79.0,2422.0,471.0,...,409.0,538.0,75.0,41.0,124.0,105.0,215.0,1173.0,NaN,0.0
8,8,2016-17,27.0,ORL,NBA,PF,56.0,56.0,1710.0,343.0,...,282.0,382.0,60.0,34.0,91.0,66.0,139.0,846.0,NaN,0.0
9,9,2016-17,27.0,TOR,NBA,PF,23.0,23.0,712.0,128.0,...,127.0,156.0,15.0,7.0,33.0,39.0,76.0,327.0,NaN,0.0
10,10,2017-18,28.0,TOR,NBA,PF,76.0,76.0,2093.0,379.0,...,400.0,478.0,62.0,29.0,99.0,90.0,209.0,959.0,NaN,0.0
11,11,2018-19,29.0,TOR,NBA,C,74.0,51.0,2010.0,464.0,...,445.0,601.0,99.0,29.0,103.0,114.0,211.0,1112.0,NaN,0.0
12,12,2019-20,30.0,TOR,NBA,C,55.0,27.0,1485.0,343.0,...,338.0,452.0,77.0,28.0,46.0,109.0,153.0,845.0,NaN,0.0
13,13,2020-21,31.0,LAC,NBA,C,41.0,39.0,955.0,186.0,...,202.0,275.0,74.0,9.0,47.0,44.0,76.0,454.0,NaN,0.0
14,14,2021-22,32.0,TOT,NBA,C,54.0,12.0,878.0,148.0,...,188.0,250.0,49.0,11.0,33.0,43.0,102.0,365.0,NaN,0.0
15,15,2021-22,32.0,LAC,NBA,C,35.0,10.0,538.0,94.0,...,110.0,150.0,36.0,7.0,26.0,33.0,56.0,232.0,NaN,0.0
16,16,2021-22,32.0,MIL,NBA,C,19.0,2.0,339.0,54.0,...,78.0,100.0,13.0,4.0,7.0,10.0,46.0,133.0,NaN,0.0
17,17,2022-23,33.0,MIL,NBA,C,16.0,0.0,185.0,26.0,...,29.0,44.0,4.0,2.0,7.0,11.0,23.0,66.0,NaN,0.0
18,18,Career,NaN,NaN,NBA,NaN,919.0,697.0,25127.0,4575.0,...,4619.0,6513.0,749.0,373.0,1759.0,1187.0,2480.0,11028.0,NaN,1.0
19,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,20,7 seasons,NaN,OKC,NBA,NaN,524.0,413.0,15099.0,2558.0,...,2608.0,3875.0,309.0,224.0,1300.0,671.0,1491.0,6054.0,NaN,1.0
21,21,4 seasons,NaN,TOR,NBA,NaN,228.0,177.0,6300.0,1314.0,...,1310.0,1687.0,253.0,93.0,281.0,352.0,649.0,3243.0,NaN,0.0
22,22,2 seasons,NaN,LAC,NBA,NaN,76.0,49.0,1493.0,280.0,...,312.0,425.0,110.0,16.0,73.0,77.0,132.0,686.0,NaN,0.0
23,23,1 season,NaN,ORL,NBA,NaN,56.0,56.0,1710.0,343.0,...,282.0,382.0,60.0,34.0,91.0,66.0,139.0,846.0,NaN,0.0
24,24,2 seasons,NaN,MIL,NBA,NaN,35.0,2.0,524.0,80.0,...,107.0,144.0,17.0,6.0,14.0,21.0,69.0,199.0,NaN,0.0