In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('https://raw.githubusercontent.com/reisanar/datasets/master/ToyotaCorolla.csv')
df

,model,price,age_08_04,mfg_month,mfg_year,km,fuel_type,hp,met_color,color,...,powered_windows,power_steering,radio,mistlamps,sport_model,backseat_divider,metallic_rim,radio_cassette,parking_assistant,tow_bar
0,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13500,23,10,2002,46986,Diesel,90,1,Blue,...,1,1,0,0,0,1,0,0,0,0
1,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13750,23,10,2002,72937,Diesel,90,1,Silver,...,0,1,0,0,0,1,0,0,0,0
2,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13950,24,9,2002,41711,Diesel,90,1,Blue,...,0,1,0,0,0,1,0,0,0,0
3,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,14950,26,7,2002,48000,Diesel,90,0,Black,...,0,1,0,0,0,1,0,0,0,0
4,TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors,13750,30,3,2002,38500,Diesel,90,0,Black,...,1,1,0,1,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1431,TOYOTA Corolla 1.3 16V HATCHB G6 2/3-Doors,7500,69,12,1998,20544,Petrol,86,1,Blue,...,1,1,0,1,1,1,0,0,0,0
1432,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,10845,72,9,1998,19000,Petrol,86,0,Grey,...,0,1,0,0,1,1,0,0,0,0
1433,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,8500,71,10,1998,17016,Petrol,86,0,Blue,...,0,1,0,0,0,1,0,0,0,0
1434,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,7250,70,11,1998,16916,Petrol,86,1,Grey,...,0,0,0,0,0,1,0,0,0,0
1435,TOYOTA Corolla 1.6 LB LINEA TERRA 4/5-Doors,6950,76,5,1998,1,Petrol,110,0,Green,...,0,1,0,0,0,0,0,0,0,0

In [8]:
df.columns

Index(['model', 'price', 'age_08_04', 'mfg_month', 'mfg_year', 'km',
       'fuel_type', 'hp', 'met_color', 'color', 'automatic', 'cc', 'doors',
       'cylinders', 'gears', 'quarterly_tax', 'weight', 'mfr_guarantee',
       'bovag_guarantee', 'guarantee_period', 'abs', 'airbag_1', 'airbag_2',
       'airco', 'automatic_airco', 'boardcomputer', 'cd_player',
       'central_lock', 'powered_windows', 'power_steering', 'radio',
       'mistlamps', 'sport_model', 'backseat_divider', 'metallic_rim',
       'radio_cassette', 'parking_assistant', 'tow_bar'],
      dtype='object')

In [9]:
df.index

RangeIndex(start=0, stop=1436, step=1)

In [11]:
df.describe()

,price,age_08_04,mfg_month,mfg_year,km,hp,met_color,automatic,cc,doors,...,powered_windows,power_steering,radio,mistlamps,sport_model,backseat_divider,metallic_rim,radio_cassette,parking_assistant,tow_bar
count,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.00000,1436.000000,...,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000
mean,10730.824513,55.947075,5.548747,1999.625348,68533.259749,101.502089,0.674791,0.055710,1576.85585,4.033426,...,0.561978,0.977716,0.146240,0.256964,0.300139,0.770195,0.204735,0.145543,0.002786,0.277855
std,3626.964585,18.599988,3.354085,1.540722,37506.448872,14.981080,0.468616,0.229441,424.38677,0.952677,...,0.496317,0.147657,0.353469,0.437111,0.458478,0.420854,0.403649,0.352770,0.052723,0.448098
min,4350.000000,1.000000,1.000000,1998.000000,1.000000,69.000000,0.000000,0.000000,1300.00000,2.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8450.000000,44.000000,3.000000,1998.000000,43000.000000,90.000000,0.000000,0.000000,1400.00000,3.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,9900.000000,61.000000,5.000000,1999.000000,63389.500000,110.000000,1.000000,0.000000,1600.00000,4.000000,...,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
75%,11950.000000,70.000000,8.000000,2001.000000,87020.750000,110.000000,1.000000,0.000000,1600.00000,5.000000,...,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000
max,32500.000000,80.000000,12.000000,2004.000000,243000.000000,192.000000,1.000000,1.000000,16000.00000,5.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [12]:
df.head()

,model,price,age_08_04,mfg_month,mfg_year,km,fuel_type,hp,met_color,color,...,powered_windows,power_steering,radio,mistlamps,sport_model,backseat_divider,metallic_rim,radio_cassette,parking_assistant,tow_bar
0,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13500,23,10,2002,46986,Diesel,90,1,Blue,...,1,1,0,0,0,1,0,0,0,0
1,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13750,23,10,2002,72937,Diesel,90,1,Silver,...,0,1,0,0,0,1,0,0,0,0
2,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13950,24,9,2002,41711,Diesel,90,1,Blue,...,0,1,0,0,0,1,0,0,0,0
3,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,14950,26,7,2002,48000,Diesel,90,0,Black,...,0,1,0,0,0,1,0,0,0,0
4,TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors,13750,30,3,2002,38500,Diesel,90,0,Black,...,1,1,0,1,0,1,0,0,0,0

In [13]:
df.dtypes

model                object
price                 int64
age_08_04             int64
mfg_month             int64
mfg_year              int64
km                    int64
fuel_type            object
hp                    int64
met_color             int64
color                object
automatic             int64
cc                    int64
doors                 int64
cylinders             int64
gears                 int64
quarterly_tax         int64
weight                int64
mfr_guarantee         int64
bovag_guarantee       int64
guarantee_period      int64
abs                   int64
airbag_1              int64
airbag_2              int64
airco                 int64
automatic_airco       int64
boardcomputer         int64
cd_player             int64
central_lock          int64
powered_windows       int64
power_steering        int64
radio                 int64
mistlamps             int64
sport_model           int64
backseat_divider      int64
metallic_rim          int64
radio_cassette        int64
parking_assistant     int64
tow_bar               int64
dtype: object

In [20]:
df3=df.select_dtypes(include=['object'])
df3

                                                  model fuel_type   color
0         TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors    Diesel    Blue
1         TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors    Diesel  Silver
2         TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors    Diesel    Blue
3         TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors    Diesel   Black
4           TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors    Diesel   Black
...                                                 ...       ...     ...
1431         TOYOTA Corolla 1.3 16V HATCHB G6 2/3-Doors    Petrol    Blue
1432  TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...    Petrol    Grey
1433  TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...    Petrol    Blue
1434  TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...    Petrol    Grey
1435        TOYOTA Corolla 1.6 LB LINEA TERRA 4/5-Doors    Petrol   Green

[1436 rows x 3 columns]

In [21]:
df[df.dtypes[df.dtypes=='object'].index]

                                                  model fuel_type   color
0         TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors    Diesel    Blue
1         TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors    Diesel  Silver
2         TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors    Diesel    Blue
3         TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors    Diesel   Black
4           TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors    Diesel   Black
...                                                 ...       ...     ...
1431         TOYOTA Corolla 1.3 16V HATCHB G6 2/3-Doors    Petrol    Blue
1432  TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...    Petrol    Grey
1433  TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...    Petrol    Blue
1434  TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...    Petrol    Grey
1435        TOYOTA Corolla 1.6 LB LINEA TERRA 4/5-Doors    Petrol   Green

[1436 rows x 3 columns]

In [22]:
type(df3)

pandas.core.frame.DataFrame

In [25]:
df['color']=='Blue'

0        True
1       False
2        True
3       False
4       False
        ...
1431     True
1432    False
1433     True
1434    False
1435    False
Name: color, Length: 1436, dtype: bool

In [27]:
df4=df[df['color']=='Blue']
df4

,model,price,age_08_04,mfg_month,mfg_year,km,fuel_type,hp,met_color,color,...,powered_windows,power_steering,radio,mistlamps,sport_model,backseat_divider,metallic_rim,radio_cassette,parking_assistant,tow_bar
0,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13500,23,10,2002,46986,Diesel,90,1,Blue,...,1,1,0,0,0,1,0,0,0,0
2,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13950,24,9,2002,41711,Diesel,90,1,Blue,...,0,1,0,0,0,1,0,0,0,0
9,TOYOTA Corolla 1.9 D HATCHB TERRA 2/3-Doors,12950,23,10,2002,71138,Diesel,69,0,Blue,...,0,1,0,0,0,1,0,0,0,0
17,TOYOTA Corolla 1.6 VVTI Linea Terra Comfort 2/...,17950,24,9,2002,21716,Petrol,110,1,Blue,...,1,1,1,0,0,0,0,1,0,1
20,TOYOTA Corolla 1.6 16V VVT I 3DR TERRA 2/3-Doors,15950,30,3,2002,67660,Petrol,110,1,Blue,...,1,1,0,0,1,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1422,TOYOTA Corolla 1.6 16V HATCHB LINEA TERRA 2/3-...,7600,78,3,1998,36000,Petrol,110,1,Blue,...,1,1,0,0,0,1,1,0,0,0
1427,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA AUT3...,8950,71,10,1998,29000,Petrol,86,1,Blue,...,0,1,0,0,0,1,0,0,0,0
1430,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,8450,80,1,1998,23000,Petrol,86,0,Blue,...,0,1,0,0,1,1,1,0,0,0
1431,TOYOTA Corolla 1.3 16V HATCHB G6 2/3-Doors,7500,69,12,1998,20544,Petrol,86,1,Blue,...,1,1,0,1,1,1,0,0,0,0
1433,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,8500,71,10,1998,17016,Petrol,86,0,Blue,...,0,1,0,0,0,1,0,0,0,0

In [29]:
df4[['model','color']]

                                                  model color
0         TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  Blue
2         TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  Blue
9           TOYOTA Corolla 1.9 D HATCHB TERRA 2/3-Doors  Blue
17    TOYOTA Corolla 1.6 VVTI Linea Terra Comfort 2/...  Blue
20     TOYOTA Corolla 1.6 16V VVT I 3DR TERRA 2/3-Doors  Blue
...                                                 ...   ...
1422  TOYOTA Corolla 1.6 16V HATCHB LINEA TERRA 2/3-...  Blue
1427  TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA AUT3...  Blue
1430  TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...  Blue
1431         TOYOTA Corolla 1.3 16V HATCHB G6 2/3-Doors  Blue
1433  TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...  Blue

[283 rows x 2 columns]

In [30]:
len(df4[['model','color']])

283

In [31]:
df4[['model','color']].describe()

                                                    model color
count                                                 283   283
unique                                                110     1
top     TOYOTA Corolla 1.6 16V HATCHB LINEA TERRA 2/3-...  Blue
freq                                                   28   283